#signin 
  %h1 Nie pamiętasz hasła?
  %h2 Podaj swój email:

  =form_for(:session, :url => "/sessions/forgot_password", :html => {:name => "forgot_form"}) do |f|
    #login.details
      =f.label :email, "Email:", :class => "left"
      =f.email_field :email, :value => params[:session][:email] 
      
      .clear
    %br
    .actions
      =f.submit "Przypomnij hasło", 
        :name => "login_action",
        :value => "forgot",
        :class => "submit"
    %br
#register
  Nie masz konta?
  =link_to "Zarejestruj się!", signup_path
