#signin  
  
  %h1 Zaloguj się:

  =form_for(:session, :url => sessions_path, :html => {:name => "login_form"}) do |f|
    #login.details
      =f.label :email, "Email:", :class => "left"
      =f.email_field :email 
      
      .clear

      =f.label :password, "Hasło:", :class => "left"
      =f.password_field :password 
      .clear  
    %br
    :javascript 
      function forgot() {
        $("#login_action").val("forgot");
        document.login_form.submit(); 
      }
    =hidden_field_tag 'login_action', 'regular'
    %a{:href => "#", :onclick => "forgot();", :id => "forgot_pass"}
      %span.quo &rsaquo;
      Nie pamiętasz hasła?
    
    .actions
      =f.submit "Zaloguj się", 
        :name => "login_action",
        :value => "regular",
        :class => "submit"
    %br
#register
  Nie masz konta?
  =link_to "Zarejestruj się!", signup_path
