%h1 Zaloguj się:

=form_for(:session, :url => sessions_path) do |f|
  .field
    =f.label :email
    =f.text_field :email
  .field
    Hasło
    =f.password_field :password
  %br
  .actions
    =f.submit "Zaloguj się"
%p
  Nie masz konta?
  =link_to "Zarejestruj się!", signup_path

