#signin  
  
  %h1 Zaloguj się:

  =form_for(:session, :url => sessions_path) do |f|
    #login.details
      =f.label :email, "Email:", :class => "left"
      =f.email_field :email 
      
      .clear

      =f.label :password, "Hasło:", :class => "left"
      =f.password_field :password 
      
      .clear  
    %br
    
    .actions
      =f.submit "Zaloguj się", :class => "submit"
    %br
#register
  Nie masz konta?
  =link_to "Zarejestruj się!", signup_path

