admin#companies

=debug(@companies)

-@companies.each do |company|
  %p
    =company.full_name
    =company.email
    =company.phone_number
    =link_to "zweryfikuj", :controller => 'admin', :action => 'verify' , :id => company.id 

