#company-profile {
  width: 880px;
  background-color: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  height: 440px;
  border: 1px solid #cccccc;
  float: left;
  padding: 10px 0px;
  font-size: 11px; }
  #company-profile .left {
    width: 680px; }
  #company-profile .right {
    width: 200px; }

#company-header {
  border-bottom: 1px dotted #cccccc; }
  #company-header h1 {
    margin-top: 10px;
    margin-left: 20px;
    float: left; }

#company-logo {
  margin-left: 20px;
  float: left; }

#follow-venue {
  margin-top: 4px; }

#company-profile-body {
  padding: 20px 10px 0; }
  #company-profile-body .left {
    width: 590px; }
  #company-profile-body .right {
    width: 165px; }

#col-1 {
  float: left;
  width: 136px;
  background-color: #f7f8f9;
  padding: 4px;
  margin-right: 20px; }
  #col-1 img {
    margin: 4px 0; }

#col-2 {
  float: left;
  width: 400px;
  margin-right: 20px; }

#col-3 {
  margin-left: 20px; }

#address, #contact {
  float: left;
  margin-right: 20px;
  width: 115px; }

#bottom-content {
  margin-left: 40px;
  margin-top: 20px; }

#company-offers-nav {
  background: url("/images/company_offers_nav_mid.png");
  width: 607px;
  height: 57px; }

#company-offers-nav-bottom {
  background: url("/images/company_offers_nav_bottom.png");
  width: 607px;
  height: 11px; }
