#company-profile {
  width: 920px;
  background-color: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.31, #f0f3f5), color-stop(0.71, white));
  background-image: -moz-linear-gradient(center bottom, #f0f3f5 31%, white 71%);
  height: 440px;
  border: 1px solid #cccccc;
  float: left;
  padding: 10px 0px;
  font-size: 11px; }
  #company-profile .left {
    float: left; }
  #company-profile .right {
    float: right; }

#company-header {
  border-bottom: 1px dotted #cccccc; }
  #company-header h1 {
    margin-top: 10px;
    margin-left: 20px;
    float: left; }

#company-logo {
  margin-left: 20px;
  float: left; }

#follow_form {
  margin-top: 4px;
  margin-right: 20px; }

.actions.follow input, .actions.follow a {
  background: transparent url("/images/follow_all.png") center top;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 179px;
  height: 40px;
  text-indent: -1000em; }
  .actions.follow input:hover, .actions.follow a:hover {
    background: transparent url("/images/follow_all.png") center -42px;
    cursor: pointer; }

.actions.unfollow input, .actions.unfollow a {
  background: transparent url("/images/follow_all.png") center -84px;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 179px;
  height: 40px;
  text-indent: -1000em; }
  .actions.unfollow input:hover, .actions.unfollow a:hover {
    background: transparent url("/images/follow_all.png") center -127px;
    cursor: pointer; }

#company-profile-body {
  padding: 20px 10px 0; }
  #company-profile-body .left {
    width: 590px; }
  #company-profile-body .right {
    width: 310px; }

#col-1 {
  float: left;
  width: 136px;
  padding: 4px;
  margin-right: 20px;
  font-family: 'Droid Sans', Arial, sans-serif;
  font-size: 13px;
  font-weight: bold; }
  #col-1 img {
    margin: 4px 0; }

#col-2 {
  float: left;
  width: 400px;
  margin-right: 20px; }

.subcol {
  float: left;
  width: 200px;
  margin-top: 20px; }
  .subcol img {
    width: 140px;
    margin-right: 10px; }

#col-3 {
  margin-left: 20px; }

#address, #contact {
  float: left;
  margin-right: 20px; }

#bottom-content {
  margin-left: 40px;
  margin-top: 20px; }

#company-offers-nav {
  background: url("/images/company_offers_nav_mid.png");
  width: 607px;
  height: 57px;
  border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px; }

h3 {
  font-family: 'Droid Sans', Arial, sans-serif;
  color: #fcfcfc;
  font-size: 18px;
  font-weight: bold;
  padding: 14px 0px 0px 25px; }

#company-offers-nav-bottom {
  background: url("/images/company_offers_nav_bottom.png");
  width: 607px;
  height: 11px; }

.wrapper #offers {
  margin: 0; }

.wrapper #offers .deals {
  width: 608px; }
  .wrapper #offers .deals:hover {
    cursor: auto; }
