#dashboard
  #avatar.left
    
    =image_tag @user.photo.url(:thumb)

    #hello
      %strong Witaj,
      =@user.email
      %br
      =link_to "Edytuj swój profil", :action => "edit"
  #general-info.right
    Użytkownik 
    <span class="deal">ka</span><span class="frame">nei</span>
    od
    =@user.created_at.strftime('%d-%m-%Y')
    %hr
    %br
    Skorzystałeś(-aś) z
    %span.red
      = @user.couppons.paid.count
      szkoleń i kursów 
    %br 
    Obserwujesz:
    =@user.following.count
    -if @user.following.count == 1
      firmę 
    -elsif @user.following.count < 4 && @user.following.count > 1
      firmy 
    -else @user.following.count > 4
      firm 
    %br
