#dashboard
  #avatar.left
    =image_tag 'user.jpg'
    #hello
      %strong Witaj,
      =@user.email
      %br
      %a Uzupełnij swój profil
  #general-info.right
    Użytkownik 
    <span class="deal">deal</span><span class="frame">frame</span>
    od
    =@user.created_at.strftime('%d-%m-%Y')
    %hr
    %br
    Skorzystałeś(-aś) z
    %span.red
      = @user.couppons.payed.count
      ofert zniżkowych
    %br 
    Obserwujesz:
    =@user.following.count
    -if @user.following.count == 1
      miejsce
    -elsif @user.following.count == 2..4
      miejsca
    -elsif @user.following.count > 4
      miejsc
    %br
%hr.db
