=form_for @user, :html => { :multipart => true } do |f|
  %h2
    %span.icon=image_tag 'info_icon.png'
    Podstawowe dane:
    -if @user.errors.any?
      %h2.error_head Ooops! Wystąpiły błędy przy aktualizacji Twoich danych.
      %ul.error_list
        -@user.errors.full_messages.each do |msg|
          %li= msg
  .section
    %ul
      %li
        =f.label :name, "Imię: "
        =f.text_field :name
      %li
        =f.label :surname, "Nazwisko: "
        =f.text_field :surname
      %li
        =f.label :email, "Email: "
        =f.text_field :email
      %li.last.change_pass
        =link_to raw('Zmień hasło &raquo;'), :action => 'change_password'
  %h2
    %span.icon=image_tag 'question_icon.png'
    Opcjonalne dane:
  .section
    %ul
      %li.last
        =image_tag @user.photo.url(:thumb)
        =f.label "Twoje zdjęcie: "
        =f.file_field :photo

  .section
    =f.submit "Zapisz zmiany", :class=>'save'
