=form_for @user, :html => { :multipart => true } do |f|
  -if !@user.errors.empty?
    .error
      =error_messages_for :user,
        :header_message => "Oops, wystąpiły błędy przy zapisie zmian"
  %h2 
    %span.icon=image_tag 'info_icon.png'
    Podstawowe dane:
  .section 
    %ul
      %li
        =f.label :name, "Imię: "
        =f.text_field :name
      %li
        =f.label :surname, "Nazwisko: "
        =f.text_field :surname
      %li
        =f.label :email, "Email: "
        =f.text_field :email
      %li.last
        =f.label "Zmiana hasła: "
        =link_to 'zmiana hasła', :action => 'change_password'
  %h2 
    %span.icon=image_tag 'question_icon.png'
    Opcjonalne dane:
  .section
    %ul 
      %li.last
        =image_tag @user.photo.url(:thumb)
        =f.label "Twoje zdjęcie: "
        =f.file_field :photo
  
  .section
    =f.submit "Zapisz zmiany"
