= form_for(@user, :url => {:action => "update_password"}) do |f|
  %h2
    %span.icon=image_tag 'lock_icon.png'
    Zmiana hasła:
  .section
    =error_messages_for @user
    %ul
      %li
        =f.label :old_password, "Stare hasło: "
        =f.password_field :old_password, {:size => "30"}
      %li
        =f.label :password, "Nowe hasło: "
        =f.password_field :password
      %li
        =f.label :password_confirmation, "Powtórz hasło: "
        =f.password_field :password_confirmation
  
  .section.actions
    =f.submit "Zmień hasło", :class => "submit"
