-if @user.companies.empty?
  =link_to("Dodaj ofertę", :controller => "offers", :action => "new")
-else
  -@user.companies.each do |c|
    %table.company-index
      %tr 
        %td.logo=link_to(image_tag(c.logo(:normal)), c)
        %td.name
          =link_to c.full_name, c 
          %span.label status 
          -if c.verified  
            %span.company-status.verified
              zweryfikowana
          -else
            %span.company-status.pending
              oczekuje
        %td.actions
          =link_to raw("Edytuj firmę <span class='quo'>&raquo;</span>"), :controller => 'companies', :action => 'edit', :id => c.id
