-#if current_page?(:controller => 'offers', :action => 'index')
  =link_to(image_tag('cat.png'), '/offers', :class => "active")
-#else
  =link_to(image_tag('cat_inactive.png'), '/offers')
-@categories.each do |category|
  -if defined? company_category
    -if(company_category.id == category.id)
      =link_to category, :class => "active" do
        %span{:id => "cat-#{category.id}", :class => 'active'}= category.name
    -else
      =link_to category do 
        %span{:id => "cat-#{category.id}"}= category.name
  -else
    -if current_page?(:id => category.id)
      =link_to category, :class => "active" do
        %span{:id => "cat-#{category.id}", :class => 'active'}= category.name
    -else
      =link_to category do 
        %span{:id => "cat-#{category.id}"}= category.name
