#filter
  #filter-wrap
    #dropdowns.left
      =image_tag("offers_in.png")
      =select("cities", "id", {"Warszawa" => "1"})
      =collection_select(:category, :id, Category.all, :id, :name, :prompt => "wszystkie")

    #buttons.right
      %ul
        %li
          %a{:href => "#", :id => "promoted"}
            Oferta specjalna
        %li
          %a{:href => "#", :id => "for_kids"}
            Dla dzieci
        %li
          %a{:href => "#", :id => "for_women"}
            Dla kobiet
        %li
          %a{:href => "#", :id => "for_men"}
            Dla mężczyzn
    .clear
