#footer
  #footer-content
    %p
      %strong &copy;2012 kanei.pl -
      =link_to "Polityka prywatności", "http://kanei.pl/polityka-prywatnosci.html"
      &dash;
      =link_to "Regulamin serwisu", "http://kanei.pl/regulamin.html"
      &dash;
      =link_to "Kanei dla biznesu", "http://kanei.pl/"

=#debug(params) if Rails.env.development?
