#header
  .left
    #logo= link_to(image_tag('dealframe.png'), '/offers')
    -if params[:controller] == 'offers' && params[:action] == 'index'
      #doodles
    .clear
  .right
    .top-menu
      %ul
        -if !signed_in?
          %li
            %span.quo &rsaquo;
            =link_to 'Dealframe dla biznesu', 'http://biznes.dealframe.pl/'
          %li
            %span.quo &rsaquo;
            =link_to 'Blog', 'http://www.dealframe.pl/blog'
        -if signed_in?
          %li
            ="Witaj #{current_user.name}!"
          %li 
            %span.quo &rsaquo; 
            =link_to "Twój profil", current_user
          %li
            %span.quo &rsaquo; 
            =link_to "Wyloguj", signout_path, :method => :delete
        -else
          %span.quo &rsaquo;
          %li= link_to "Zaloguj się", signin_path
    #add-offer
      -#=link_to(image_tag("add_offer.png"), :controller => "offers", :action => "new")
  .clear


-flash.each do |key, value|
  .flash{:class => "#{key}"}= value
