#header
  #header_left
    #logo= link_to(image_tag('df_logo.png', :style=> "width: 212px;"), '/offers')
    -if (params[:controller] == 'offers' && params[:action] == 'index') || params[:controller] == 'categories'
      #doodles
  #header_right
    .top-menu
      %ul
        -if !signed_in?
          %li
            %span.quo &rsaquo;
            =link_to 'Dealframe dla biznesu', 'http://biznes.dealframe.pl/'
          %li
            %span.quo &rsaquo;
            =link_to 'Blog', 'http://www.dealframe.pl/blog'
        -if signed_in?
          %li
            ="Witaj #{current_user.name}!"
          %li
            %span.quo &rsaquo;
            =link_to "Twój profil", current_user
          %li
            %span.quo &rsaquo;
            =link_to "Wyloguj", signout_path, :method => :delete
        -else
          %span.quo &rsaquo;
          %li= link_to "Zaloguj się", signin_path
    -if (params[:controller] == 'offers' || params[:controller] == 'categories') && (params[:action] != 'new')
      #add-offer
        =link_to("Dodaj ofertę", :controller => "offers", :action => "new")
  .clear
-flash.each do |key, value|
  .flash{:class => "#{key}"}= value

-if !params[:status].nil?
  -if params[:status] == 'OK'
    .flash{:class => "success"}
      Gratulacje. Kupiłeś kupon. Czekamy na weryfikację
  -else 
    .flash{:class => "error"}
      Transakcja nie powiodła się. Skontaktuj się z działem obsługi klienta: 
      =mail_to "bok@dealframe.pl"
