#follow_form 
  -if signed_in?
    -if current_user.following?(@company)
      =render :partial => 'unfollow', :locals => { :company => @company  }
    -else
      =render :partial => 'follow', :locals => { :company => @company  }
  -else 
    .actions.follow= link_to("Obserwuj oferty", :controller => 'sessions', :action => 'new')
