#new-offer
  =form_for(@offer, @company, @user, :html => { :multipart => true }) do |f|
    -if !@company.errors.empty?
      .details.error
        =error_messages_for :company,
          :header_message => "Oops, wystąpiły błędy przy dodawaniu oferty:",
          :message => "W sekcji \"Twoja firma\":"
    -if !@offer.errors.empty?
      .details.error
        =error_messages_for :offer, 
          :header_message => "", 
          :message => "W sekcji \"Oferta\":"

    -if !@user.errors.empty?
      .details.error
        =error_messages_for :user,
          :header_message => "Oops, wystąpiły błędy przy dodawaniu oferty:",
          :message => "W sekcji \"Twój email i hasło\":"

    -if signed_in? and !current_user.companies.blank?
      .details
        .heading
          %h2 Wybierz firmę
          %p na liście poniżej, wyświetliliśmy wszystkie Twoje firmy, jakie posiadasz w systemie. Wybierz tą, w której chcesz uruchomić promocję.
          -if params[:company].nil?
            =collection_select(:company, :id, current_user.companies, :id, :full_name, { :disabled => lambda{|company| !company.verified? }, :prompt => "wybierz jedną"} )
          -else
            =collection_select(:company, :id, current_user.companies, :id, :full_name, {:selected => params[:company][:id], :disabled => lambda{|company| !company.verified? }, :prompt => "wybierz jedną"} )

          lub 
          =link_to "dodaj nową firmę", "#add-company-form", {:class => "new_company"}
          %span{:style => "margin-left: 4px; color: #a0a0a0; font-size: 10px; display:block; width: 200px;"} 
            *szare firmy, których nie można wybrać, to firmy jeszcze przez nas niezweryfikowane
          -if params[:add_company_clicked]
            %div.add_company
              =render :partial => 'company_details', :locals => {:f => f}
          -else
            %div.add_company{:style => "display: none;"}
              =render :partial => 'company_details', :locals => {:f => f}
          
    -else
      =render :partial => 'company_details', :locals => {:f => f}

    =render :partial => 'offer_details', :locals => {:f => f}

    -if !signed_in?
      .details{:style => "background-color: #FCC2D1"}
        .heading
          %h2 KONIEC! Podaj swojego maila i wybierz hasło... 
          %hr
          =label_tag :user, :email
          =text_field :user, :email
          %br
          =label_tag :user, :password
          =password_field :user, :password
          %br
          =label_tag :user, :password_confirmation
          =password_field :user, :password_confirmation
    = f.submit "Dodaj ofertę"
