#new-offer
  =form_for(@offer, @company, :html => { :multipart => true }) do |f|
    -if !@company.errors.empty?
      .details.error
        =error_messages_for :company,
          :header_message => "Oops, wystąpiły błędy przy dodawaniu oferty:",
          :message => "W sekcji \"Twoja firma\":"
        =error_messages_for :offer, 
          :header_message => "", 
          :message => "W sekcji \"Oferta\":"

    -if signed_in? and !current_user.companies.nil?
      .details
        .heading
          %h2 Wybierz firmę
          %p na liście poniżej, wyświetliliśmy wszystkie Twoje firmy, jakie posiadasz w systemie. Wybierz tą, w której chcesz uruchomić promocję.
          =collection_select(:user, :company_id, current_user.companies, :id, :full_name, { :disabled => lambda{|company| !company.verified? }, :prompt => "wybierz jedną" })
          lub 
          =link_to "dodaj nową firmę", "#", {:class => "new_company"}
          %span{:style => "margin-left: 4px; color: #a0a0a0; font-size: 10px; display:block; width: 200px;"} 
            *szare firmy, których nie można wybrać, to firmy jeszcze przez nas niezweryfikowane
          %div.add_company{:style => "display: none;"}
            =render :partial => 'company_details', :locals => {:f => f}
          
    -else
      =render :partial => 'company_details', :locals => {:f => f}
    =render :partial => 'offer_details', :locals => {:f => f}

    = f.submit "Dodaj ofertę"
