.details
  .heading
    %h2 Oferta
    %p Teraz możesz skonfigurować ofertę szkolenia
    %hr

  #offer-config
    .field.prices
      =f.label :value, "Cena wyjściowa (przed zniżką):" 
      =f.text_field :value, :class => "currency"
      %span.currency PLN
    .field.prices{:style=>"display:none;"}
      =f.label :discount, "Wartość zniżki:"
      =f.text_field :discount, :class => "currency"
      %span.currency %
      
    .field
      =f.label :photo, "Zdjęcie do oferty:" 
      =f.file_field :photo
  
    .field
      =f.label :category, "Kategoria oferty:" 
      =collection_select(:offer, :category_id, Category.all, :id, :name, { :prompt => "wybierz jedną" })

    .field
      =f.label :title, "Tytuł:" 
      =f.text_field :title
      %span Tytuł Twojego szkolenia np.: "Wyskocz poza ramy komfortu"

    .field
      =f.label :description, "Krótki opis:"
      =f.text_area :description
      %span Krótki opis, który zaciekawi potencjalnych klientów, np.: "If you can dream it, you can do it"

    .field
      =f.label :invoice_description, "Opis na rachunku:"
      =f.text_area :invoice_description
      %span Oficjalny opis, który pojawi się na rachunku, na przykład: "Szkolenie Biznesowe 'Wyskocz poza ramy komfortu'"

    .field
      =f.label :start_date, "Termin uruchomienia sprzedaży:"
      %br
      %br
      =f.datetime_select :start_date
      %span 
        Wtedy Twoje szkolenie zacznie się wyświetlać.
    .field
      =f.label :end_date, "Termin zakończenia zapisów:"
      %br
      =f.datetime_select :end_date
      %span
        Wtedy Twoje szkolenie przestanie się wyświetlać.

    .field
      =f.label :expiration_date, "Data szkolenia:"
      %br
      =f.datetime_select :expiration_date
      %span
        Data szkolenia. 

    .field
      =f.label :additional_info, "Kluczowe informacje o szkoleniu:"
      =f.text_area :additional_info

    .field
      =f.label :details, "Szczegółowy opis oferty:"
      =f.text_area :details
      %span 
        =link_to raw("zobacz opcje formatowania &raquo;"), "#"

    .field
      =f.label :fine_print, "Ograniczenia oferty:"
      =f.text_area :fine_print, :value => "np.: 'Ilość miejsc ograniczona'"

    .field
      =f.label :terms, raw('Akceptuję <a href="http://www.kanei.pl/regulamin.html">Regulamin serwisu</a>') 
      =f.check_box :terms
  -# tagi - do dorobienia (zamknięta lista)
  -#=f.text_field :tag_list
