.order-page
  %span.offer_icon
  %h1.add_offer
    Dodaj swoją ofertę

  Pracujemy nad formularzem dodawania oferty <br />
  <a style="margin-top: 20px; display: block;font-size: 20px; font-weight: bold;" href="mailto:biznes@dealframe.pl">Skontaktuj się z nami</a> <br />jeśli chcesz dodać swoją firmę do naszego katalogu
  
