#categories
  =render "shared/categories"

#offers
  =render :partial => "shared/filter"
  #panel-container
    .right
    #panel-frame
      .panel
        .head
          %a{:href =>"#", :class => "close"} zamknij
        .data
    #deallist-container
      =render :partial => "shared/deallist", :locals => {:offers => @offers}
  .clear
