.order-page
  #timer-desc do końca pozostało:
  %div{:id => "offer-#{@offer.id}", :class => "timer large"}
  =render :partial => 'shared/time_counter', :locals => {:offer => @offer, :size => "large"}

  
  %h1=@offer.title
  #order-sumary.details
    #company-summary
      %h3 Oferent:
      -if @offer.company.logo.exists?
        =image_tag @offer.company.logo(:normal), :class => "left"
      -else
        =image_tag @offer.company.logo_url, :class => "left"
      #contact-details.left
        =link_to @offer.company.short_name, {}, :class => 'company-name'
        %p=@offer.company.address
        %p=@offer.company.zip_code + " " + @offer.company.city
        %p=@offer.company.phone_number
        %p=mail_to @offer.company.email
    
    #offer-summary  
      %h3 Co dostajesz?
      =image_tag @offer.photo_url, :width => "200px";
      %br
      %br
      =@offer.description
      =raw @offer.additional_info

      #fine-print

        =raw @offer.fine_print
    .clear 
  
  -unless @offer.details.blank?
    #offer-details.details
      %h3 Szczegółowy opis
      =raw @offer.details

  .offer-body-details 
    =link_to("KUP TERAZ", { :controller => "offers", :action => "purchase", :id => @offer.id }, {:class => "buynow", :style => "margin: auto;"})
