#categories
  =render "shared/categories"

#offers 
  =render "shared/filter"
  #panel-container
    .right
    #panel-frame
      .panel
        .head
          %a{:href =>"#", :class => "close"} zamknij
        .data
    =render :partial => "shared/deallist", :locals => {:offers =>  @category.active_offers }
.clear
